


/* Customize the toast icon */
.Toastify__toast-icon {
  margin-inline-end: 12px; /* Adjust spacing as needed */
  width: 20px; /* Change the icon size */
}

/* Customize the toast container */
.Toastify__toast {
  min-height: 1px; /* Adjust the height */
}








/* #c2a152 */
.blob-4 {
  height: 15px;
  width: 60px;
  aspect-ratio: 2;
  border: 3px solid #c2a05200;
  background: 
    radial-gradient(farthest-side,#fff 88%,#c2a05200 ) left/14px 14px,
    radial-gradient(farthest-side,#fff 88%,#c2a05200 ) left/14px 14px,
    radial-gradient(farthest-side,#fff 88%,#c2a05200 ) center/14px 14px,
    radial-gradient(farthest-side,#fff 88%,#c2a05200 ) right/14px 14px,
    #c2a05200;
  background-repeat:no-repeat;
  animation: b4 1s infinite;
}
@keyframes b4 {
  100%  {background-position:right,left,center,right}
}

